/* Contact CSS */

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.contact-heading {

    font-size: 24pt !important;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
    text-align:center;
    background-color: #ffffff;
    color:#4338bc;
    padding-top:30px;

}

.contact-contents {

    margin-top:10px;
    padding:50px;
}


.contact-text {

    padding-top:10px;
    padding-right:50px;
    width:100%;
    position:absolute;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color:#4e148c;
    font-size:14pt;
   
}

.contact-forms {

    text-align:left;
}


/*Forms*/
input {

    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin-right: 10px auto;
    border: 3px solid #b79ced;
    border-radius:20px;
    font-family:'Roboto', sans-serif;
    }

input:focus {

    background-color: #ffff;
    outline: none;
    }


textarea {

    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin-right: 10px auto;
    border: 3px solid #b79ced;
    border-radius:20px;
    font-family:'Roboto', sans-serif;
    }

textarea:focus {

    background-color: #ffff;
    outline: none;
    }

/* Button Design */
input[type=submit] {

    color:#fff;
    background-color: #957fef;
    padding: 10px;
    border-radius: 5px;
    width:95%;
    border: none;
    border-radius:20px;
    float:center;
    font-family:'Roboto', sans-serif;
    font-size:14pt;
    }

input[type=submit]:hover{
    opacity: .8;
    transition:all .5s;
    }

