/* Home CSS */

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



/* Container holding the image and the text */
    .container-fluid {

        position: relative;
        text-align: center;
        padding: 5px 10px;
        margin-left:200px;
        margin-right:200px;
        
    }
    

    /* Bottom left text */
    .bottom-left { 

        position: absolute;
        bottom: 140px;
        left: 40px;
    }
    
    /* Top left text */
    .top-left {

        position: absolute;
        top: 8px;
        left: 16px;
    }
    
    /* Top right text */
    .top-right {

        position: absolute;
        top: 8px;
        right: 16px;
    }
    
    /* Bottom right text */
    .bottom-right {

        position: absolute;
        bottom: 8px;
        right: 16px;
    }
    
    /* Centered text */
    .centered {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
    /* Featured Developers */
    .panel {

        border: 1px solid #98aae1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-family: 'Calibri', sans-serif;
        width: 250px;
        min-height: 250px;

    }

    .panel-heading {

        padding-left:20px;
        padding-bottom:30px;
        font-size: 10pt;
        line-height: 12pt;
        background-color: #8367c7;
        color: #ffff;


    }

    .panel-heading img {

        width:30%;
        margin-right:10px;
        float:left;
        border-radius: 100px;


    }

    b {

        font-size:14pt;
        letter-spacing: 1pt;
    }
    
  

