/* Home CSS */
/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home-heading {

    font-size: 24pt !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    text-align:center;
    background-color: #ffffff;
    color:#4338bc;
    padding-top:80px;

}

.home-contents {

    margin-top:10px;
    padding:50px;
}


/* For Button*/
.container-button {

    padding-top:80px;
    padding-left:250px;
    position:static;

}

.container-button a {

    background-color:#7b2cbf;
    padding:20px;
    font-size:14pt;
    color:#ffff;
    font-family: 'Roboto', sans-serif;
    border-radius:50px;
}

.container-button a:hover {

    color:#ffff;
    text-decoration: none;
    opacity: .8;
    transition:all .5s;
}

    
    /* Featured Developers */

    .panel {

        width: 250px;
        min-height: 250px;
        font-family: 'Quicksand', sans-serif;

    }

    .panel-heading {

        padding:20px;
        line-height: 12pt;
        background-color: #8367c7;
        color: #ffff;


    }

    h2 {
       
        font-weight: bold;
        text-align:center;

    }

    h4 {
       
        text-align:center;

    }
  

