/* Home CSS */

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.job-heading {

    font-size: 24pt !important;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
    text-align:center;
    background-color: #ffffff;
    color:#4338bc;
    padding-top:150px;
    padding-left:50px;

}

.job-contents {

    margin-top:10px;
    padding:30px;
}

.job-contents img {

    padding:0;
}


.job-text {

    margin-top: 10px;
    padding-top:30px;
    padding-left:50px;
    position:absolute;
    text-align:justify;
    font-family: 'Roboto', sans-serif;
    color:#4e148c;
    font-size:14pt;
   
}


table {

    width:100%;
    padding:10px;
}

.table {

    padding:10px;
}

input[type=text] {

    display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin-right: 10px auto;
	border: 3px solid #b79ced;
	border-radius:20px;
	font-family:'Roboto', sans-serif;
}