/*Login CSS */
	
		/* Font Imports */
		@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

		*{
			margin: 0;
			padding: 0;
			font-family: sans-serif;
			box-sizing: border-box;
		}

		/* Background of Login */
		body {

			background: linear-gradient(
				to right bottom,
				rgba(118, 102, 240, 1),
				rgba(90, 24, 154, 1)
			);
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
	
			}



		/*Heading*/
		.heading {

			margin-bottom:20px;

		}


		/* Contents inside the Forms */
		#login{

			background-color: #ffff;
			width: 500px;
			padding: 50px;
			border-radius: 30px;
		}

		#login label {
			
			font-family:'Quicksand', sans-serif;
			font-size:14pt;
		}

		/* Input types in the Form */
		input {

			display: block;
			border: 2px solid #ccc;
			width: 95%;
			padding: 10px;
			margin-right: 10px auto;
			border: 3px solid #b79ced;
			border-radius:20px;
			font-family:'Roboto', sans-serif;
		}

        input:focus {

            background-color: #ffff;
            outline: none;
        }

		/* Button Design */
		button {

			color:#fff;
			background-color: #8a00e6;
			padding: 10px;
			border-radius: 5px;
			width:50%;
			border: none;
			border-radius:20px;
			float:center;
			font-family:'Roboto', sans-serif;
			font-size:14pt;
		}

		button:hover{
			opacity: .8;
			transition:all .5s;
		}

		/* Register */
		h4 {

			text-align:center;
			font-family:'Quicksand', sans-serif;
			font-size:12pt;
			color:#360568;

		}

		a {
			
			display: flex;
			justify-content: center;
			align-items: center;
			font-family:'Roboto', sans-serif;
			color:#7161ef;
			font-size:10pt;
		}

		a:hover {

			text-decoration:none;
			font-family:'Roboto', sans-serif;
			color:#5b2a86;
			transition:all .5s;
		}



		/*Background Design*/
		
		.circle1,
		.circle2 {
			background: white;
			background: linear-gradient(
				to right bottom,
				rgba(255, 255, 255, 0.7),
				rgba(255, 255, 255, 0.3)
			);
			height: 20rem;
			width: 20rem;
			position: absolute;
			border-radius: 50%;

		}


		
  
