/* Navbar and Footer CSS */

/* Font Imports */

/* Navbar */

.navbar {

    min-height: 50px;
    margin-bottom: 0 !important;
    padding-left:30px;
    border: 0;
    border-radius: 0;
    font-size: 12pt !important;
    font-family: Helvetica, sans-serif !important;
    list-style-type: none !important;
    letter-spacing: 1px; 
    display: block;
    background-color: white;

}

.navbar-brand {

    padding-left: 30px;
}

.navbar-nav {

    
    color: #FFFFFF !important;
    font-family: 'Arial', sans-serif;


}

.navbar-right {

    list-style-type: none !important;

  }


.nav-link {

    color: blue !important;
}


.navbar-right li a {

    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF !important;
    font-family: 'Arial', sans-serif;

}

.navbar-nav li a:hover, .navbar-nav li.active a {

    color: #ffc6a4 !important;
    text-decoration: none !important;
}


    
/* Footer * /