/*Register CSS */
	
		/* Font Imports */
		@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

		*{
			margin: 0;
			padding: 0;
			font-family: sans-serif;
			box-sizing: border-box;
		}

		body {

			background: linear-gradient(
				to right bottom,
				rgba(118, 102, 240, 1),
				rgba(90, 24, 154, 1)
			);
			display: flex;
			justify-content: center;
			align-items: center;
			

		}

		/*Heading*/
		.heading {

			margin-bottom:10px;

		}


		/* Contents inside the Forms */
		#register{

			background-color: #ffff;
			width: 500px;
			padding: 30px;
			margin:40px;
			border-radius: 30px;
		}

		#register label {
			
			font-family:'Quicksand', sans-serif;
			font-size:12pt;
		}

		/* Input types in the Form */
		input[type=text], input[type=password] {

			display: block;
			width: 95%;
			padding: 10px;
			margin-right: 10px auto;
			border: 3px solid #b79ced;
			border-radius:20px;
			font-family:'Roboto', sans-serif;
		}

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ffff;
            outline: none;
          }

		input[type=checkbox] {

			border: 1px solid #b79ced;
			margin:5px;

		}

		/* Button Design */
		button {

			color:#fff;
			background-color: #957fef;
			padding: 10px;
			border-radius: 5px;
			width:50%;
			border: none;
			border-radius:20px;
			float:center;
			font-family:'Roboto', sans-serif;
			font-size:14pt;
		}

		button:hover{
			opacity: .8;
		}

		/* Register */
		h2,h4 {

			text-align:center;
			font-family:'Quicksand', sans-serif;
			color:#360568;

		}

		button {

			color:#fff;
			background-color: #8a00e6;
			padding: 10px;
			border-radius: 5px;
			width:50%;
			border: none;
			border-radius:20px;
			float:center;
			font-family:'Roboto', sans-serif;
			font-size:14pt;

		}

		button:hover{
			opacity: .8;
			transition:all .5s;
		}